USE [SingaporeEmigration]
GO
/****** Object:  Table [dbo].[DimCostOfLiving]    Script Date: 7/31/2018 10:29:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCostOfLiving](
	[CostID] [int] IDENTITY(1,1) NOT NULL,
	[CostOfLivingIndex] [real] NULL,
	[RentIndex] [real] NULL,
	[GroceriesIndex] [real] NULL,
	[RestaurantPriceIndex] [real] NULL,
	[LocalPurchasingPowerIndex] [real] NULL,
	[countryid] [int] NULL,
	[timeid] [int] NULL,
 CONSTRAINT [PK_DimCostOfLiving] PRIMARY KEY CLUSTERED 
(
	[CostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimCostOfLiving] ON 

INSERT [dbo].[DimCostOfLiving] ([CostID], [CostOfLivingIndex], [RentIndex], [GroceriesIndex], [RestaurantPriceIndex], [LocalPurchasingPowerIndex], [countryid], [timeid]) VALUES (1, 37.88, 7.33, 30.87, 29.08, 37.03, 11, 19)
INSERT [dbo].[DimCostOfLiving] ([CostID], [CostOfLivingIndex], [RentIndex], [GroceriesIndex], [RestaurantPriceIndex], [LocalPurchasingPowerIndex], [countryid], [timeid]) VALUES (2, 32.42, 6.3, 26.07, 25.06, 34.49, 11, 18)
INSERT [dbo].[DimCostOfLiving] ([CostID], [CostOfLivingIndex], [RentIndex], [GroceriesIndex], [RestaurantPriceIndex], [LocalPurchasingPowerIndex], [countryid], [timeid]) VALUES (3, 33.81, 7.12, 27.33, 27.59, 43.58, 11, 17)
GO
SET IDENTITY_INSERT [dbo].[DimCostOfLiving] OFF
